################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SMU_MVC/bin/Debug/net6.0
/SMU_MVC/obj
